/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
    }

    html{
      scroll-behavior: smooth;
      font-size: 16px;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      background: #ffffff;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
      overflow-x: hidden;
    }

    ul,li {
      margin: 0px;
      padding: 0px;
      
    }

    h1,h2,h3,h4,p{
      margin: 0px;
      font-weight: normal;
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #FFFFFF;
      min-height: 100%;
      display: grid !important;
      grid-template-rows: auto 1fr auto;
      position: relative;
    }

    .upper{
      text-transform: uppercase;
    }

/*----шрифты----*/

@font-face {
  font-family: "Montserrat-800";
  src: 
    url("Montserrat-ExtraBold.woff2") format("woff2"),
    url("Montserrat-ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-700";
  src: 
    url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-600";
  src: 
  url("Montserrat-SemiBold.woff2") format("woff2"),
    url("Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-500";
  src: 
    url("Montserrat-Medium.woff2") format("woff2"),
    url("Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-400";
  src: 
   url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-300";
  src: 
    url("Montserrat-Light.woff2") format("woff2"),
    url("Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}


@font-face {
  font-family: "RenaultLife-700";
  src: 
    url("RenaultLife-Bold.woff2") format("woff2"),
    url("RenaultLife-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "RenaultLife-400";
  src: 
   url("RenaultLife.woff2") format("woff2"),
    url("RenaultLife.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "RenaultLife-300";
  src: 
    url("RenaultLife-Light.woff2") format("woff2"),
    url("RenaultLife-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}





@keyframes aniop {
   0% { opacity: 0; }
  100% { opacity: 1;  }
}

@keyframes ani {
   0% { color: #333333; }
   20% { color: #55383f; }
   40% { color: #743c4a; }
   60% { color: #964156; }
   80% { color: #b84661; }
  100% { color: #d54a6b; }
}

@keyframes anifade {
   0% { opacity: 0; }
   20% { opacity: 0.2; }
   40% { opacity: 0.4; }
   60% { opacity: 0.6; }
   80% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes anirot {
   0% { transform: rotate(45deg); }
   20% {  transform: rotate(90deg); }
   40% {  transform: rotate(180deg); }
   60% {  transform: rotate(360deg); }
   80% {  transform: rotate(20deg); }
  100% {  transform: rotate(40deg); }
}



/*----------!!!------------ГЛАВНАЯ СТРАНИЦА----------!!!-----------------*/

/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.full__container{
  max-width: 8000px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.main__container_header{
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*----------------------ШАПКА---------------------------*/

.headerandfirstsec_container{
  background: #F5F5F5;
}

.full_container_headerandfirstsec_container{
  background: url(../img/headerandfirstsec_container_leftpart.png) left -10px top 27px no-repeat, url(../img/headerandfirstsec_container_rightpart.png) right 75px top 16px no-repeat;
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 48px;
  padding-right: 190px;
}

.header_content_centrepart_list{
  display: flex;
  column-gap: 28px;
  align-items: center;
}

.header_content_centrepart_list a{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #35332b;
  cursor: pointer;
}

.header_content_centrepart_list_item:nth-child(2) {
  margin-right: 4px;
}

.header_content_rightpart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content_rightpart_messengers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  margin-right: 48px;
  align-self: end;
}

.header_content_rightpart_phone{
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 34px;
  padding-right: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4CBC53;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  text-decoration: none;
  color: #ffffff;
}

.header_content_rightpart_phone:hover {
    background-color: #2a7434;
    transition: 0.5s;
}

.firstsec_content h2{
  font-family: "Montserrat-400";
  font-size: 1.75rem;
  text-decoration: none;
  color: #35332b;
}

.firstsec_content h1{
  font-family: "RenaultLife-700";
  font-size: 3rem;
  text-decoration: none;
  color: #35332B;
  line-height: 53px;
  margin-top: 20px;
}

.firstsec_content_title{
  margin-top: -26px;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  max-width: 946px;
}

.firstsec_content_title_leftpart{
  margin-top: 49px;
  margin-left: 27px;
}

.firstsec_content_title_leftpart ul > li{
  font-family: "RenaultLife-400";
  font-size: 1.75rem;
  text-decoration: none;
  color: #35332b;
  line-height: 31px;
}

.firstsec_content_title_leftpart ul > li > b{
  font-family: "RenaultLife-700";
  font-size: 1.75rem;
  text-decoration: none;
  color: rgb(76, 188, 83);
}

.firstsec_content_title_leftpart a{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  background: #4cbc53;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  margin-left: -27px;
  padding-left: 13px;
  padding-right: 13px;
  max-width: 324px;
  margin-top: 25px;
}

.firstsec_content_title_leftpart a:hover {
    background-color: #2a7434;
    transition: 0.5s;
}

.firstsec_content_list{
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  max-width: 860px;
  margin-top: 30px;
  padding-bottom: 60px;
}

.firstsec_content_list_item{
  display: flex;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: #ffffff;
  border-radius: 10px;
  height: 103px;
  justify-content: space-between;
}

.firstsec_content_list_item h3{
  font-family: "RenaultLife-400";
  font-size: 2.125rem;
  text-decoration: none;
  color: #4CBC53;
  line-height: 37px;
}

.firstsec_content_list_item_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.firstsec_content_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.firstsec_content_list_item_title{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #35332b;
}

.firstsec_content_list_item_header_rightpart{
  display: flex;
  column-gap: 4px;
  margin-top: 5px;
}

.firstsec_content_list_item:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  background: #35A548;
}

.firstsec_content_list_item:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  background: #35A548;
}

.firstsec_content_list_item:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  background: #2A7434;
}

















.franshizasec{
  margin-top: 129px;
}

.franshizasec_content_leftpart_header h3{
   font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  line-height: 26px;
}

.franshizasec_content_leftpart h2{
   font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #35332b;
  line-height: 53px;
  max-width: 647px;
  margin-top: 20px;
}

.franshizasec_content_leftpart h2 > b{
  color: #4CBC53;
  font-weight: 400;
}

.franshizasec_content_leftpart p{
  margin-top: 167px;
  font-family: "Montserrat-400";
  font-size: 1.5rem;
  text-decoration: none;
  color: #35332b;
  line-height: 31px;
  max-width: 660px;
}

.franshizasec_content_leftpart p > b{
  color: #4CBC53;
  font-weight: 700;
}

.franshizasec_content{
  display: flex;
  justify-content: space-between;
}


.franshizasec_content_rightpart_list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.franshizasec_content_rightpart_list_item{
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: #f5f5f5;
  border-radius: 10px;
  height: 103px;
  justify-content: space-between;
}


.franshizasec_content_rightpart_list_item h3{
  font-family: "RenaultLife-400";
  font-size: 2.125rem;
  text-decoration: none;
  color: #4CBC53;
  line-height: 37px;
}

.franshizasec_content_rightpart_list_item_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.franshizasec_content_leftpart_header{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.franshizasec_content_rightpart_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.franshizasec_content_rightpart_list_item_title{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #35332b;
}

.franshizasec_content_rightpart_list_item_header_rightpart{
  display: flex;
  column-gap: 4px;
  margin-top: 5px;
}

.franshizasec_content_rightpart_list_item:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  background: #35A548;
}

.franshizasec_content_rightpart_list_item:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  background: #35A548;
}

.franshizasec_content_rightpart_list_item:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  background: #2A7434;
}



@-webkit-keyframes pulsing {
  0% {
    background: transparent;
  }
  50% {
    background: #c3f9c7;
  }
  100% {
   background: transparent;
  }
}

@keyframes pulsing {
   0% {
    background: transparent;
  }
  50% {
    background: #c3f9c7;
  }
  100% {
   background: transparent;
  }
}

.circle {
  background: #c3f9c7;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

.franshizasec_content_leftpart_point{
  display: flex;
  justify-content: center;
  align-items: center;
}



.analizsec{
  margin-top: 120px;
  padding-bottom: 120px;
}

.analizsec_content_leftpart_header{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.analizsec_content_leftpart_header h3{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  line-height: 26px;
}

.analizsec_content_leftpart h2{
   font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #35332b;
  line-height: 53px;
  max-width: 660px;
  margin-top: 20px;
}

.analizsec_content_leftpart h2 > b{
  color: #4CBC53;
  font-weight: 400;
}

.analizsec_content_rightpart_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.analizsec_content_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.analizsec_content_leftpart_point{
  display: flex;
  justify-content: center;
  align-items: center;
}

.analizsec_content_leftpart_graf{
  margin-top: 44px;
}

.analizsec_content_leftpart_graf{
  max-width: 840px;
  width: 100%;
  border-radius: 10px;
  background: #4EB051;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
}

.analizsec_content_leftpart_graf p{
  margin-top: 30px;
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 21px;
  max-width: 305px;
  padding-bottom: 122px;
}

.analizsec_content_leftpart_graf_grafik{
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 860px;
  width: 100%;
  height: 85%;
}

.analizsec_content{
  display: flex;
  justify-content: space-between;
}

.analizsec_content_leftpart{
  width: 75%;
}

.analizsec_content_rightpart{
  padding-top: 72px;
}

.analizsec_content_rightpart a{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  background-color: #4cbc53;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  max-width: 152px;
  padding-left: 54px;
  padding-right: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analizsec_content_rightpart a:hover {
  background-color: #2a7434;
  transition: 0.5s;
}

.analizsec_content_rightpart_list{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 54px;
}

.analizsec_content_rightpart_list_item{
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 220px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
}

.analizsec_content_rightpart_list_item p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #35332b;
  margin-top: 28px;
}








.pribilsec{
  background: #f5f5f5;
  padding-top: 80px;
}

.pribilsec_content_uppart_header{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.pribilsec_content_uppart_header h3{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  line-height: 26px;
}

.pribilsec_content_uppart h2{
   font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #35332b;
  line-height: 53px;
  max-width: 660px;
  margin-top: 20px;
}

.pribilsec_content_uppart h2 > b{
  color: #4CBC53;
  font-weight: 400;
}

.pribilsec_content_uppart_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.pribilsec_content_uppart_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.pribilsec_content_uppart_point{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pribilsec_content_downpart_list{
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 40px;
  padding-bottom: 81px;
}

.pribilsec_content_downpart_list_item{
  border-radius: 10px;
  background: #FFFFFF;
  max-width: 220px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 101px;
}

.pribilsec_content_downpart_list_item h3{
   font-family: "RenaultLife-400";
  font-size: 2.125rem;
  text-decoration: none;
  color: #4cbc53;
  line-height: 37px;
}

.pribilsec_content_downpart_list_item p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  text-decoration: none;
  color: #35332b;
  margin-top: 26px;
}

.pribilsec_content_downpart_list_item:nth-child(7) > p:nth-child(2) {
  color: #FFF;
}

.pribilsec_content_downpart_list_item:nth-child(7) > h3:nth-child(1) {
  color: #FFF;
  font-family: "RenaultLife-700";
}

.pribilsec_content_downpart_list_item:nth-child(7) {
  background: #237231;
}

.pribilsec_content_downpart_list_item:nth-child(8) {
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #4cbc53;
}

.pribilsec_content_downpart_list_item:nth-child(8) a{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pribilsec_content_downpart_list_item:nth-child(8):hover {
  background-color: #2a7434;
  transition: 0.5s;
}

.pribilsec_content_downpart_list_item:nth-child(5) > p:nth-child(2) {
  margin-top: 7px;
}









.schoolmasterssec{
  padding-top: 120px;
  padding-bottom: 120px;
}

.schoolmasterssec_content{
  position: relative;
}

.schoolmasterssec_content_uppart_header{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.schoolmasterssec_content_uppart_header h3{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  line-height: 26px;
}

.schoolmasterssec_content_uppart_list_item_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.schoolmasterssec_content_uppart_header_point{
  border-radius: 50%;
  background: #4CBC53;
  width: 8px;
  height: 8px;
}

.schoolmasterssec_content_uppart_point{
  display: flex;
  justify-content: center;
  align-items: center;
}

.schoolmasterssec_content_sticky{
  position: sticky;
  top: 0;
}

.schoolmasterssec_content{
  display: flex;
  justify-content: space-between;
}

.schoolmasterssec_content_rightpart_list{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.schoolmasterssec_content_rightpart_list_item{
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 520px;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.schoolmasterssec_content_rightpart_list_item_image{
  background: url(../img/schoolmasterssec_content_rightpart_list_item_1.png);
  background-repeat: no-repeat;
  height: 396px;
}

.schoolmasterssec_content_rightpart_list_item:nth-child(2) > .schoolmasterssec_content_rightpart_list_item_image{
  background: url(../img/schoolmasterssec_content_rightpart_list_item_2.png);
}

.schoolmasterssec_content_rightpart_list_item:nth-child(3) > .schoolmasterssec_content_rightpart_list_item_image{
  background: url(../img/schoolmasterssec_content_rightpart_list_item_3.png);
}

.schoolmasterssec_content_rightpart_list_item_image img{
  padding-top: 20px;
  padding-left: 20px;
}

.schoolmasterssec_content_rightpart_list_item p{
  margin-top: 20px;
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  line-height: 26px;
}

.schoolmasterssec_content_rightpart_list_item p > b{
  color: rgb(76, 188, 83);
  font-family: "Montserrat-700";
}

.schoolmasterssec_content_sticky{
  margin-top: 30px;
}

.schoolmasterssec_content_sticky p{
  margin-top: 30px;
  font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #35332b;
  line-height: 53px;
  max-width: 550px;
}

.schoolmasterssec_content_sticky p > b{
  color: rgb(76, 188, 83);
}








.getpresentationsec_content{
  background: url(../img/getpresentationsec_background.png);
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 300px;
  border-radius: 10px;
  padding-bottom: 55px;
}

.getpresentationsec_content h3{
   font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 53px;
}

.getpresentationsec_content p{
  margin-top: 20px;
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 26px;
}

.getpresentationsec_content a{
  margin-top: 40px;
  border-radius: 10px;
  background-color: #4cbc53;
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 24px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.getpresentationsec_content a:hover {
  background-color: #3f974b;
  transition: 0.5s;
}





.formatsec{
  margin-top: 120px;
  padding-bottom: 120px;
}

.tabs{
  
}

.tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#content-1,
  #tab-btn-2:checked~#content-2,
  #tab-btn-3:checked~#content-3 {
    display: block;
    margin-top: 53px;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    user-select: none;
    cursor: pointer;
    position: relative;

    font-family: "Ubuntu-500";
    font-size: 1.375rem;
    color: #383838;
    line-height: 37px;

    background: transparent;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 303px;
    width: 100%;
    border: 1px solid #4B80E5;
    border-radius: 19px;
    margin-right: 13px;
  }

  .tabs>input[type="radio"]:checked+label {
    background: red;
    color: #ffffff;
    animation: anitabs 0.5s linear;
    font-family: "Ubuntu-500";
    font-size: 1.375rem;
    line-height: 37px;
  }

  .pribilsec_content_downpart_header{
    display: flex;

  }

  #tab1{
    background: #4CBC53;
    border-radius: 10px;
    border-width: 2px;
    border-color: #4cbc53;
    font-family: "Montserrat-500";
    font-size: 1rem;
    text-decoration: none;
    color: #FFFFFF;
  }

   #tab2{
    background: #4CBC53;
    border-radius: 10px;
    border-width: 2px;
    border-color: #4cbc53;
    font-family: "Montserrat-500";
    font-size: 1rem;
    text-decoration: none;
    color: #FFFFFF;
  }

    #tab1:hover{
    border-color: #237231;
    transition: 1s;
  }

#tab1 {
  min-width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 100%;
  max-height: 17px;
}

#tab2 {
  min-width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 100%;
  max-height: 17px;
}

 #tab2:hover{
    border-color: #237231;
    transition: 1s;
  }

.formatsec_content_downpart_header {
  justify-content: space-between;
}

.tabs {
  display: flex;
  column-gap: 40px;
}

.formatsec_content_downpart_header_tabs {
  width: fit-content;
}

#tab1 {
  position: absolute;
  right: 0;
  top: 100px;
  max-width: 156px;
  max-height: 10px;
}

#tab2 {
  min-width: 154px;
  max-height: 10px;
  position: absolute;
  right: 0;
  top: 100px;
  right: 210px;
  max-width: 156px;
}

.tabs > label {
  padding-top: 18px;
  padding-bottom: 18px;
}

.formatsec_content_main_rightpart{
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background: #F5F5F5;
}

.formatsec_content_main_rightpart h3{
  font-family: "RenaultLife-400";
  font-size: 3rem;
  text-decoration: none;
  color: #35a548;
  line-height: 53px;
}

.formatsec_content_main{
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.formatsec_content_main_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #35332b;
  margin-top: 20px;
}

.formatsec_content_main_rightpart_title{
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  grid-row-gap: 15px;
}

.formatsec_content_main_rightpart_title h4{
   font-family: "Montserrat-400";
  font-size: 1.25rem;
  text-decoration: none;
  color: #a8a7a1;
  line-height: 26px;
}

.formatsec_content_main_rightpart_title p{
  font-family: "RenaultLife-400";
  font-size: 2.125rem;
  text-decoration: none;
  color: #4cbc53;
  line-height: 37px;
  margin-top: 0;
  justify-self: end;
}

#content-2 > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
  max-width: 560px;
  border-radius: 10px;
}

#content-1 > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
  max-width: 560px;
  border-radius: 10px;
}